<table class="table mt-5">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Result</th>
    </tr>

    <tr>
      <td>Round Trip Time</td>
      <td>{{results.RTT}}</td>
    </tr>

    <tr>
      <td>Round Trip Time (incl. losses)</td>
      <td>{{results.RTTPL}}</td>
    </tr>

    <tr>
      <td>UPPINT</td>
      <td>{{results.UPPINT}}</td>
    </tr>

    <tr>
      <td>UPPHC</td>
      <td>{{results.UPPHC}}</td>
    </tr>

    <tr>
      <td>TP</td>
      <td>{{results.tp}}</td>
    </tr>

    <tr>
      <td>Number of Passengers</td>
      <td>{{results.P}}</td>
    </tr>

    <tr>
      <td>H</td>
      <td>{{results.H}}</td>
    </tr>

    <tr>
      <td>S</td>
      <td>{{results.S}}</td>
    </tr>

    <tr>
      <td>POP</td>
      <td>{{results.POP}}</td>
    </tr>

    <tr>
      <td>T</td>
      <td>{{results.T}}</td>
    </tr>

    <tr>
      <td>TV</td>
      <td>{{results.tv}}</td>
    </tr>

    <tr>
      <td>S</td>
      <td>{{results.S}}</td>
    </tr>

    <tr>
      <td>UEFF</td>
      <td>{{results.Ueff}}</td>
    </tr>

    <tr>
      <td>New Formula</td>
      <td>{{results.Tf}}</td>
    </tr>

    <tr>
      <td>TFD</td>
      <td>{{results.Tfd}}</td>
    </tr>

    <tr>
      <td>Improved RTT</td>
      <td>{{results.ImprovedRTT}}</td>
    </tr>

  </tbody>
</table>
