<table class="table mt-5">
  <tbody>
    <tr>
      <th>Formula</th>
      <th>Result</th>
    </tr>

    <tr>
      <td>Round Trip Time</td>
      <td>{{results.RTT}}</td>
    </tr>

    <tr>
      <td>Round Trip Time (incl. losses)</td>
      <td>{{results.RTTPL}}</td>
    </tr>

    <tr>
      <td>Up peak interval</td>
      <td>{{results.UPPINT}}</td>
    </tr>

    <tr>
      <td>Up peak handling capacity</td>
      <td>{{results.UPPHC}}</td>
    </tr>

    <tr>
      <td>Average time taken for a single person to load or unload the lift</td>
      <td>{{results.tp}}</td>
    </tr>

    <tr>
      <td>Average number of passengers</td>
      <td>{{results.P}}</td>
    </tr>

    <tr>
      <td>Average highest reversal floor</td>
      <td>{{results.H}}</td>
    </tr>

    <tr>
      <td>Average number of stops made</td>
      <td>{{results.S}}</td>
    </tr>

    <tr>
      <td>Handling capacity, expressed as a percentage of the building population transported in five minutes (POP)</td>
      <td>{{results.POP}}</td>
    </tr>

    <tr>
      <td>Cycle time is the time to travel a single floor</td>
      <td>{{results.T}}</td>
    </tr>

    <tr>
      <td>time taken for the lift to travel between two adjacent floors at rated speed (TV)</td>
      <td>{{results.tv}}</td>
    </tr>

    <tr>
      <td>Average number of stops made by the lift during its round trip</td>
      <td>{{results.S}}</td>
    </tr>

    <tr>
      <td>Effective building population</td>
      <td>{{results.Ueff}}</td>
    </tr>

    <tr>
      <td>Transmit time function</td>
      <td>{{results.Tf}}</td>
    </tr>

    <tr>
      <td>Average distance between stops (TFD)</td>
      <td>{{results.Tfd}}</td>
    </tr>

    <tr>
      <td>Improved Round Trip Time</td>
      <td>{{results.ImprovedRTT}}</td>
    </tr>

  </tbody>
</table>
