<!-- Our calculator is setup -->
{{#if calc}}
  <div class="section section-basic">
    <h2>Up Peak Calculator</h2>

    <!-- Section 1 which shows the main input component -->
    {{#if isSection1}}
      {{input-main
        calc=calc}}
    {{/if}}


    <!-- Section 2 which shows the input floors component -->
    {{#if isSection2}}

      {{input-floors
        calc=calc
        inputUpdated=inputUpdated}}

      {{else}}
        <button class="btn btn-lg btn-primary" {{action (mut currentSection) '2'}}>
          Next
        </button>
    {{/if}}

    <!-- Section 3 which shows the results component -->
    {{#if isSection3}}

      <!-- Results -->
      {{#if hasFloors}}

      {{display-results
        results=results}}

      {{/if}}

      {{else}}
      <button class="btn btn-lg btn-primary" {{action (mut currentSection) '3'}}>
        Show Results
      </button>

    {{/if}}


    <!-- Reset function which also takes the user back to section 1 -->
    <button class="btn btn-lg btn-primary" {{action 'resetCalculator'}}{{action (mut currentSection) '1'}}>
      Reset Calculator
    </button>

  </div>
{{/if}}
